@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #0A0817;
  --white: #FFFFFF;
  --primary-blue: #194BFD;
  --secondary-purple: #AD13FB;
  --light-gray: #E6E6E6;
  --dark-gray: #151523;
  --gray: #545454;
  --navigation-gray: #B5B5BA;
}

@theme {
  --color-background: var(--background);
  --color-primary-blue: var(--primary-blue);
  --color-secondary-purple: var(--secondary-purple);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-gray: var(--gray);
  --color-navigation-gray: var(--navigation-gray);
  --color-white: var(--white);
}

@layer utilities {
  .font-cairo {
    font-family: "Cairo", sans-serif;
  }
}

body {
  background: var(--background);
  box-sizing: border-box;
}
