@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #0A0817;
  --white: #FFFFFF;
  --primary-blue: #194BFD;
  --secondary-purple: #AD13FB;
  --light-gray: #E6E6E6;
  --dark-gray: #151523;
  --gray: #545454;
  --navigation-gray: #B5B5BA;
  --cards: #17171A;
  --error: #ff6e6e;
  --greeting-gray: #B2B2B2;
}

@theme {
  --color-background: var(--background);
  --color-primary-blue: var(--primary-blue);
  --color-secondary-purple: var(--secondary-purple);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-gray: var(--gray);
  --color-navigation-gray: var(--navigation-gray);
  --color-white: var(--white);
  --color-cards: var(--cards);
  --color-error: var(--error);
  --color-greeting-gray: var(--greeting-gray);
}

@layer utilities {
  .font-cairo {
    font-family: "Cairo", sans-serif;
  }
  .font-lato {
    font-family: "Lato", sans-serif;
  }
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  box-sizing: border-box;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:where(.css-dev-only-do-not-override-1v5z42l).ant-message .ant-message-notice-wrapper .ant-message-notice-content {
  background-color: var(--dark-gray);
  color: var(--white);
}
:where(.css-1v5z42l).ant-message .ant-message-notice-wrapper .ant-message-notice-content {
  background-color: var(--dark-gray);
  color: var(--white);
}